
@keyframes border-hover
  0%    { border-radius: 1em }
  80%   { border-radius: 0   }
  100%  { border-radius: 1em }

@keyframes border-shake
  0%    { border-radius: 1em 3px 3px 3px / 3px 3px 1em 3px }
  25%   { border-radius: 3px 3px 1em 3px / 1em 3px 3px 3px }
  50%   { border-radius: 3px 1em 3px 3px / 3px 3px 3px 1em }
  75%   { border-radius: 3px 3px 3px 1em / 3px 1em 3px 3px }


*
  transition-property: background-color, border-color, width
  transition-duration: .3s

.expand-transition
  transition: all .2s ease

.editframe
  transition-property: height, width
  transition-duration: .2s   , .2s
  transition-delay:    .1s   , 0s
  transition-timing-function: ease

.icons
.list
  &-move
    transition: transform .3s
  &-enter-to
    transition: all .2s ease .1s
  &-enter, &-leave-to
    opacity: 0
  &-leave-to
    position: absolute


.timeline
  &-enter, &leave-to
    opacity: 0
    transition: all .2s ease .1s

.portrates
  background: #000
  padding: 2px
  display: flex
  flex-direction:  row
  flex-wrap:       wrap
  align-items:     center
  align-content:   space-around
  justify-content: space-around

  .portrate
    flex-basis: auto

  .expand-enter
  .expand-leave
    height: 0
    padding: 0 10px
    opacity: 0

  .list-leave-to
    position: absolute

  .list-enter
  .list-leave-to
    transform: translateY(30px)

