@import "./tooltip.styl"

.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-active
  opacity: 0

html,
body,
p
  margin: 0

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  -webkit-touch-callout: none
  text-size-adjust: 100%
  font-smooth: antialiased
  user-select: none
  overflow-wrap: break-word
  word-wrap:     break-word

b
  font-weight: bold

.btns span
    display: inline-block

input[type=color],
input[type=checkbox],
input[type=radio],
input[type=submit],
input[type=button],
input[type=image],
input[type=reset],
[title], [data-tooltip],
a, b, kbd, code, input, select, button, textarea,
.btn
  display: inline-block
  user-select: none
  box-sizing: border-box
  vertical-align: baseline
  text-decoration: none
  margin:    0   2px
  padding:   2px
  border-radius: 3px
  border-width:  0
  border-style: outset
  align-items: flex-start
  cursor: hand

  text-rendering: auto
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-shadow:    none
  text-indent: 0px

.swipe
  overflow-x: scroll
  overflow-y: hidden
  -ms-overflow-style: -ms-autohiding-scrollbar

  table
    border-collapse: collapse
  td,
  th
    margin:  0
    padding: 0
    white-space: nowrap
    vertical-align: center

.outframe,
.summary,
.contentframe,
.inframe
  box-sizing: content-box
  transition: all 250ms ease

.writeframe,
.outframe
  margin: 0 auto

.writeframe,
.summary,
.sideframe
  position: fixed
  overflow-y: auto
  pointer-events: none
  z-index: 1
  &:hover
    z-index: 3

.writeframe
  top: 0

.summary
  left:   0
  bottom: 0

.sideframe
  right:  0
  bottom: 0

.inframe
  pointer-events: auto

.pull-left
  float: left
.pull-right
  float: right

.slider
  height: 25px
  border-width: 0
  background-color: rgba(0,0,0,0.5)

kbd
  background-color: black
  color: white
code
  background-color: white
  color: black

abbr,
input,
select,
button,
textarea
  user-select: auto
  padding: 4px

label,
rt,
sup,
sub,
kbd,
code
  padding: 0 4px

label,
abbr,
sup,
sub
  border-radius: 3em
  padding: 1px 6px
  font-weight: bold
  text-align: center

h1, h2, h3, h4, h5, h6, .chat
  box-sizing: border-box

h6
  font-weight: bold
  display: block
  margin: 0
  border-bottom: 1px solid #e5e5e5
  background-color: rgba(255, 255, 255, 0.25)

sup, sub
  display: inline-block
  font-weight: bold
  text-align: center

.chat
  padding: 1px 4px

  .name.center
    text-align: center

  .name
    font-weight: bold
    sup,
    sub
      margin-right: -3px

  .text
    overflow: hidden
    &.head:first-line
      font-weight: bold
    &.mono
      font-family: monospace
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      background: url("~assets/images/bg/grid.gif")
    &.center
      text-align: center

  .date
    text-align: right

  textarea
    width: 98%
    min-width: 98%
    max-width: 98%

.btns
  text-align: center
  span
    margin: 0 6px

.chrblank
  background: #444844
  color:      #CCF

  max-width:    88px
  width:        88px
  border-radius: 9px

.icons
  color: rgba(200, 210, 200, 0.5)
  width: 40px
  font-size: 35px
  margin: 0 0 0 auto
  overflow: hidden
  display: flex
  flex-direction: column-reverse
  flex-wrap:       nowrap
  align-items:     center
  align-content:   space-around
  justify-content: space-around

  .fa
    flex-basis: auto
    border-radius: 5px
  .fa.active
    box-shadow:
      0 0 20px 3px rgba(0,0,0,0.5) inset

.icons-move
  transition: transform 0.3s

.icons-enter-to
  transition: all 0.2s ease 0.1s

.icons-leave-to
  position: absolute

.icons-enter,
.icons-leave-to
  opacity: 0
  transform: translateX(60px)



