@import "./tooltip.styl"

.page-enter-active,
.page-leave-active
  transition: opacity .5s

.page-enter,
.page-leave-active
  opacity: 0

html,
body,
p
  margin: 0

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  -webkit-touch-callout: none
  text-size-adjust: 100%
  font-smooth: antialiased
  user-select: none
  overflow-wrap: break-word
  word-wrap:     break-word

b
  font-weight: bold

span
  display: inline-block

input[type=color],
input[type=checkbox],
input[type=radio],
input[type=submit],
input[type=button],
input[type=image],
input[type=reset],
[title], [data-tooltip],
a, b, kbd, code, strong,
input, select, button, textarea,
.btn
  display: inline-block
  user-select: none
  box-sizing: border-box
  vertical-align: baseline
  text-decoration: none
  margin:    0   2px
  padding:   2px
  border-radius: 3px
  border-width:  0
  border-style: outset
  align-items: flex-start
  cursor: hand

  text-rendering: auto
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-shadow:    none
  text-indent: 0px

.swipe
  overflow-y: visible
  overflow-x: scroll

  table
    border-collapse: collapse
  td,
  th
    margin:  0
    padding: 0
    white-space: nowrap
    vertical-align: center

.outframe,
.summary,
.contentframe,
.inframe
  box-sizing: content-box
  transition: all 250ms ease

.writeframe,
.outframe
  margin: 0 auto

.writeframe,
.summary,
.sideframe
  position: fixed
  overflow-y: auto
  pointer-events: none
  z-index: 10
  &:hover
    z-index: 30

.contentframe
  .inframe
    padding: 10px 0

.writeframe
  top: 0
  box-sizing: content-box
  .contentframe
    background-attachment: scroll

.summary
  left:   0
  bottom: 0
  overflow-x: hidden

.sideframe
  right:  0
  bottom: 0
  overflow-x: visible

.inframe
  pointer-events: auto

.pull-left
  float: left
.pull-right
  float: right

.slider
  height: 25px
  border-width: 0
  background-color: rgba(0,0,0,0.5)

em
  font-style: normal

kbd
  background-color: black
  color: white
code
  background-color: white
  color: #c00

abbr,
input,
select,
button,
textarea
  user-select: auto
  padding: 4px

label,
rt,
sup,
sub,
kbd,
code
  padding: 0 4px

label,
abbr,
sup,
sub
  border-radius: 3em
  padding: 1px 6px
  font-weight: bold
  text-align: center

h1, h2, h3, h4, h5, h6, .chat
  box-sizing: border-box

h6
  font-weight: bold
  display: block
  margin: 0
  border-bottom: 1px solid #e5e5e5
  background-color: rgba(255, 255, 255, 0.25)

sup, sub
  display: inline-block
  font-weight: bold
  text-align: center

.chat
  padding: 0 4px 0 8px

  .center
    text-align: center

  .right
    text-align: right

  .name
    padding: 1px 0
    font-weight: bold
    sup,
    sub
      margin-right: -3px

  .text
    padding: 1px 0
    user-select: auto
    overflow: visible
    white-space: pre-wrap
    &.head:first-line
      font-weight: bold
    &.mono
      white-space: pre
      font-family: monospace
      overflow-y: visible
      overflow-x: auto
      text-overflow: show
      background: url("~assets/images/bg/grid.gif")

  .date
    padding: 1px 0
    text-align: right

  textarea
    width: 99%
    min-width: 99%
    max-width: 99%
    border-width: 1px
    border-style: solid

.btns
  text-align: center
  span
    margin: 0 6px

.pre
  white-space: pre


