.chat
  padding: 0 4px 0 8px

  .center
    text-align: center

  .right
    text-align: right

  .name
    padding: 1px 0
    margin-bottom: 2px
    font-weight: bold
    sup,
    sub
      margin-right: -3px

  .text
    white-space: pre-wrap
    padding: 1px 0
    user-select: auto
    overflow: visible
    ol
      margin-top: 0
    &.head:first-line
      font-weight: bold
    &.mono
      white-space: pre
      font-family: monospace
      overflow-y: visible
      overflow-x: auto
      text-overflow: show
      background: url("http://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/grid.gif")

  .date
    padding: 1px 0
    text-align: right

  textarea
    width: 99%
    min-width: 99%
    max-width: 99%
    border-width: 1px
    border-style: solid

