.chat
  padding: 0 4px 0 8px

  .center
    text-align: center

  .right
    text-align: right

  .date
    text-align: right

  .name, .text, .date
    padding: 0
    margin: 0

  .text
    white-space: pre-wrap
    user-select: auto
    overflow: visible
    &.mono
      white-space: pre
      font-family: monospace
      overflow-y: visible
      overflow-x: auto
      text-overflow: show
      background: url("https://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/grid.gif")
    *
      user-select: auto

  textarea
    width: 99%
    min-width: 99%
    max-width: 99%
    border-width: 1px
    border-style: solid
    overflow-y: hidden
    overflow-x: scroll
    -ms-overflow-style: none
    &::-webkit-scrollbar
      display:none;

