@import "./_width.styl"


inline($base, $inline, $family)
  font-family: $family
  if sans-serif == $family
    font-family: Avenir, "Helvetica Neue", Helvetica, "游ゴシック", "Yu Gothic", sans-serif
  if serif == $family
    font-family: "花園明朝A", "花園明朝B", "HanaMinA", "HanaMinB", serif

  font-size:   $base
  line-height: $inline

font($small, $base, $family)
  $middle = ($small + $base) / 2
  $pad    = $base / 3
  $block  = $base * 1.5
  $inline = $base * 1.3

  width($base, 30 * $base + 130)

  sup
    vertical-align: $small *  0.5
    font-size:      $small
    line-height:    $small + 2px

  sub
    vertical-align: $small * -0.5
    font-size:      $small
    line-height:    $small + 2px

  body,
  .btns,
  .links,
  .name,
  .text,
  dfn,
  abbr,
  input,
  select,
  button,
  textarea,
  time,
  a,
  b,
  p
    inline($base,  $block,  $family)

  h6
    padding: $pad

  h6,
  kbd,
  code,
  .potofs tbody td,
  .potofs tbody th,
  .fine,
  .date
    inline($small, $middle, $family)
    dfn,
    abbr,
    input,
    select,
    button,
    textarea,
    time,
    a,
    b,
    p
      inline($small, $middle, $family)

  .chrblank
    inline(12px, 15px, $family)
    dfn,
    abbr,
    input,
    select,
    button,
    textarea,
    time,
    a,
    b,
    p
      inline(12px, 15px, $family)

