input[type=time]
input[type=number]
.r
  text-align: right
.l
  text-align: left
.c
  text-align: center

.mini
  width: 3em

input[type=time]
  width: 5em

.btns
  text-align: center
  span
    margin: 0 6px

.form
  abbr
  a
  button
  [href]
    min-width:  30px
    min-height: 36px
    vertical-align: middle

.tb-btn
  a
  button
  .btn
    writing-mode: tb-rl

input[type=time]
input[type=number]
input[type=checkbox]
input[type=radio]
input[type=color]
input[type=submit]
input[type=button]
input[type=image]
input[type=reset]
[href]
a
b
em
abbr
strong
kbd
code
time
select
button
textarea
.btn
  display: inline-block
  user-select: none
  box-sizing: border-box
  vertical-align: baseline
  text-decoration: none
  padding:   2px
  border-radius: 5px
  border-width:  0
  border-style: outset
  align-items: flex-start
  cursor: hand

  text-rendering: auto
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-shadow:    none
  text-indent: 0px

input
select
button
textarea
.btn
[href]
  border: 2px solid
  &:hover
    border-radius: 0
  &:hover
  &:focus
    border: 2px dashed

input
select
textarea
.btn
[href]
[chat_id]
  .focus &
    border-radius: 0
    transition-property: border-radius, border-color
    transition-duration: 1s
  &:focus
    animation: border-hover  1s ease-in-out infinite normal
  &:hover
    animation: border-hover .4s ease-in-out infinite normal

.pull-left
  float: left
.pull-right
  float: right

span
  display: inline-block

input
select
button
textarea
  user-select: auto
  padding: 4px

label
abbr
sup
sub
  border-radius: 3em
  padding: 1px 6px
  text-align: center

sup
sub
  display: inline-block
  text-align: center

rt
  border-radius: 3em
  padding: 0 4px
