.r
  text-align: right
.l
  text-align: left
.c
  text-align: center

.btns
  text-align: center
  span
    margin: 0 6px

.form
  abbr
  a
  button
  [href]
  [title]
  [data-tooltip]
    min-width:  30px
    min-height: 36px
    vertical-align: middle

.tb-btn
  a
  button
  .btn
    writing-mode: tb-rl

input[type=checkbox]
input[type=radio]
input[type=color]
input[type=submit]
input[type=button]
input[type=image]
input[type=reset]
[href]
[title]
[data-tooltip]
a
b
em
abbr
strong
kbd
code
time
input
select
button
textarea
.btn
  display: inline-block
  user-select: none
  box-sizing: border-box
  vertical-align: baseline
  text-decoration: none
  padding:   2px
  border-radius: 5px
  border-width:  0
  border-style: outset
  align-items: flex-start
  cursor: hand

  text-rendering: auto
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-shadow:    none
  text-indent: 0px

input
select
button
textarea
.btn
[href]
[title]
[data-tooltip]
  border: 2px solid
  &:hover
    border-radius: 0
  &:hover
  &:focus
    border: 2px dashed

input
select
textarea
[href]
[chat_id]
  .focus &
    border-radius: 0
    transition-property: border-radius, border-color
    transition-duration: 1s
  &:focus
    animation: border-hover  1s ease-in-out infinite normal
  &:hover
    animation: border-hover .4s ease-in-out infinite normal

.pull-left
  float: left
.pull-right
  float: right

th, td
  border-radius: 2px

strong
del
th
em
b
  font-style: normal
  font-weight: normal
  text-decoration: none

span
  display: inline-block


pre
  margin: 0 -4px

li
  margin:  0
  padding: 0

ol, ul
  margin:  0
  padding: 0 0 0 4ex
ol
  list-style-type: circle
ul
  list-style-type: decimal


abbr
input
select
button
textarea
  user-select: auto
  padding: 4px

label
rt
sup
sub
  padding: 0 4px

label
abbr
rt
sup
sub
  border-radius: 3em
  padding: 1px 6px
  text-align: center

h1, h2, h3, h4, h5, h6
  box-sizing: border-box
  display: block
  font-weight: normal
  margin: 0

blockquote
  margin:  0
  padding: 2px 0 2px 0.5ex
  border-style: none none none solid
  border-width: 0 0 0 0.5ex

sup, sub
  display: inline-block
  text-align: center

hr
  clear: both
  display: block
  height:  0
  margin:  0
  -webkit-margin-before: 0
  -webkit-margin-after:  0
  border: none

hr:before
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px
  border-style: solid none none none
  border-width: 1px 0 0 0

hr:after
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px
  border-style: none none dashed none
  border-width: 0 0 1px 0

