html,
body,
p
  margin: 0

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-overflow-scrolling: touch
  -webkit-touch-callout: none
  text-size-adjust: 100%
  font-smooth: antialiased
  user-select: none
  overflow-wrap: break-word
  word-wrap:     break-word

.page-active
  &:before,
  &:after
    content: ''
    position: fixed
    pointer-events: none
    width:  100vw
    height: 100vh
    top: 0

  &:before
    z-index: -98
  &:after
    z-index: -97

  &.page-enter-active,
  &.page-leave-active
    &:before
      z-index: 99997
    &:after
      z-index: 99998

.chat
  box-sizing: border-box
  display: block

.swipe
  overflow-y: hidden
  overflow-x: scroll
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display:none;

  table
    border-collapse: collapse
  td,
  th
    margin:  0
    padding: 0
    white-space: nowrap
    vertical-align: center

.fullframe
  margin: 0

.summary,
.fullframe,
.outframe,
.contentframe,
.inframe
  box-sizing: content-box

.writeframe,
.outframe
  margin: 0 auto

.center-left,
.center-right
  position: fixed
  pointer-events: none
  z-index: -95
  top: 50vh
  border-bottom-width: 2px
  border-bottom-style: solid

.center-left
  left:   0

.center-right
  right:   0

.summary,
.sideframe,
.writeframe
  position: fixed
  overflow-y: auto
  pointer-events: none
  z-index: 10
  &:hover
    z-index: 30

.contentframe
  .inframe
    padding: 10px 0

.writeframe
  top: 0
  box-sizing: content-box
  .contentframe
    background-attachment: scroll

.summary
  left:   0
  bottom: 0
  overflow-x: hidden

.sideframe
  right:  0
  bottom: 0
  overflow-x: visible

.inframe
  pointer-events: auto

.sideframe
  .icons
    width: 50px
    margin: 0 2px 6px auto
    overflow: hidden

    display: flex
    flex-direction: column
    flex-wrap:      nowrap
    align-items:     center
    align-content:   space-around
    justify-content: space-around

    .item
      flex-basis: auto
      text-align: center
      width:     40px
      height:    60px
      font-size: 35px
      border-radius: 5px
    .fa
      margin: 10px auto
