hr
  clear: both
  display: block
  height:  0
  margin:  0
  -webkit-margin-before: 0
  -webkit-margin-after:  0
  border: none

hr:before
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px
  border-style: solid none none none
  border-width: 1px 0 0 0

hr:after
  content: ""
  clear: both
  display: block
  margin:  0
  padding: 0
  height: 1px
  border-style: none none dashed none
  border-width: 0 0 1px 0

h1, h2, h3, h4, h5, h6
  box-sizing: border-box
  display: block
  font-weight: normal
  margin: 0

blockquote
  margin: 0
  padding: 0  0.5ex 0  0.5ex
  border-style: none solid none solid
  border-width: 0 0.5ex 0 0.5ex

code
  font-family: monospace
  background-image: url("//s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/grid.gif")

pre
  margin: 0 -4px
  white-space: pre-wrap
  overflow-y: visible
  overflow-x: auto
  text-overflow: show

li
  margin:  0
  padding: 0

ol, ul
  margin:  0
  padding: 0 0 0 4ex
ul
  list-style-type: circle
ol
  list-style-type: decimal

strong
del
th
em
b
  font-style: normal
  font-weight: normal
  text-decoration: none

th, td
  border-radius: 2px


