themes = {
  says: {
    SPORT:  SPORT
    P09:    P09
    ELSE:   P08 ELSE
    BRONZE: P07
    ALIEN:  P06 XSAY BSAY
    P05:    P05
    P04:    P04
    BROAD:  P03 SSAY MSAY
    VBROAD: P02 VSSAY VSAY
    P01:    P01
    WOLF:   WSAY
    N01:    N01
    N02:    N02
    VLOVE:  N03 AIM
    LOVE:   N04 SPSAY PSAY
    N05:    N05
    N06:    N06
    VGRAVE: N07 VGSAY
    GRAVE:  N08 GSAY
    N09:    N09
  }
  sepia: {
    SPORT:  TSAY hide
  }

  world: {
    BROAD:  public
    GRAVE:  private
  }
  metal: {
    ELSE:   MAKER TITLE welcome-links
    BROAD:  ADMIN
  }

  stats: {
    SPORT:  HATER LONEWOLF
    ELSE:   PIXI GURU
    ALIEN:  EVIL
    BROAD:  HUMAN DISH live juror
    WOLF:   WOLF suicide victim cursed feared droop
    LOVE:   LOVER
    VBROAD: NONE MOB mob visiter grave alive
    GRAVE:  executed
  }
  header: {
    ALIEN:  suddendead leave
    BRONZE: BRONZE footer header
    BROAD:  btns chrblank
    N09:    welcome-btns
  }

  grass: {
    BROAD: title-bar icons
  }
}

hues = {
  SPORT:  10 * 18deg
  P09:     9 * 18deg
  ELSE:    8 * 18deg
  BRONZE:  7 * 18deg
  ALIEN:   6 * 18deg
  P05:     5 * 18deg
  P04:     4 * 18deg
  BROAD:   3 * 18deg - 6deg
  VBROAD:  2 * 18deg
  P01:     1 * 18deg
  WOLF:    0
  N01:    -1 * 18deg
  N02:    -2 * 18deg + 5deg
  VLOVE:  -3 * 18deg
  LOVE:   -4 * 18deg
  N05:    -5 * 18deg
  N06:    -6 * 18deg
  VGRAVE: -7 * 18deg
  GRAVE:  -8 * 18deg
  N09:    -9 * 18deg
}


saturates = {
  SPORT:  100%
  P09:     90%
  ELSE:    90%
  BRONZE:  90%
  ALIEN:   90%
  P05:     90%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  P01:    100%
  WOLF:   100%
  N01:    100%
  N02:    100%
  VLOVE:  110%
  LOVE:   120%
  N05:    140%
  N06:    140%
  VGRAVE: 140%
  GRAVE:  120%
  N09:    110%
}

lights = {
  SPORT:  100%
  P09:     95%
  ELSE:    95%
  BRONZE:  95%
  ALIEN:   95%
  P05:     95%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  P01:    100%
  WOLF:   100%
  N01:    100%
  N02:    100%
  VLOVE:  105%
  LOVE:   110%
  N05:    120%
  N06:    120%
  VGRAVE: 120%
  GRAVE:  110%
  N09:    105%
}


HSLA(key,S,L,AA)
  HH = hues[key]
  SS = S * saturates[key] / 100
  LL = L * lights[key]    / 100
  hsla(HH,SS,LL,AA)


palette($themes, $backT)
  for key, $bgTheme in themes[$themes]
    palette_single($bgTheme, $backT, hues[key], key)


palette_single($bgTheme, $backT, $hue, key)

  if foot == $backT
    $edge =           HSLA(key,60%,50%,1)
    $focus =          HSLA(key,30%,45%,1)

    $emboss =         HSLA(key,60%,35%,1)
    $off =            HSLA(key,30%,35%,1)
    $on =             HSLA(key,40%,45%,1)

    $hide =           HSLA(key,50%,10%,1)
    $bg = $baloon =   HSLA(key,35%,30%,1)
    $bgHi =           HSLA(key,66%,27%,1)

    $pen =  HSLA(key,  10%,80%,1)
    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)

  if ash == $backT
    $edge =           HSLA(key,20%,50%,1)
    $focus =          HSLA(key, 9%,45%,1)

    $emboss =         HSLA(key,20%,35%,1)
    $off =            HSLA(key, 9%,35%,1)
    $on =             HSLA(key, 9%,45%,1)

    $hide =           HSLA(key, 9%,10%,1)
    $bg = $baloon =   HSLA(key, 9%,28%,1)
    $bgHi =           HSLA(key,11%,20%,1)

    $pen =  HSLA(key,  10%,80%,1)
    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)



  if light == $backT
    $edge =           HSLA(key,60%,50%,1)
    $focus =          HSLA(key,30%,40%,1)

    $emboss =         HSLA(key,40%,55%,1)
    $off =            HSLA(key,30%,50%,1)
    $on =             HSLA(key,40%,40%,1)

    $hide =           HSLA(key,75%,25%,1)
    $bg = $baloon =   HSLA(key,35%,63%,1)
    $bgHi =           HSLA(key,50%,70%,1)

    $pen =  HSLA(key,   0%,0%,1)
    $good = HSLA(ALIEN,66%,8%,1)
    $warn = HSLA(P01,  66%,8%,1)
    $ban =  HSLA(WOLF, 66%,8%,1)

  if sepia == $backT
    $edge =           HSLA(key,20%,50%,1)
    $focus =          HSLA(key, 9%,40%,1)

    $emboss =         HSLA(key, 9%,55%,1)
    $off =            HSLA(key, 9%,50%,1)
    $on =             HSLA(key, 9%,40%,1)

    $hide =           HSLA(key,11%,25%,1)
    $bg = $baloon =   HSLA(key, 9%,63%,1)
    $bgHi =           HSLA(key, 9%,70%,1)

    $pen =  HSLA(key,   0%,0%,1)
    $good = HSLA(ALIEN,66%,8%,1)
    $warn = HSLA(P01,  66%,8%,1)
    $ban =  HSLA(WOLF, 66%,8%,1)



  if black == $backT
    $edge =           HSLA(key,60%,50%,1)
    $focus =          HSLA(key,40%,30%,1)

    $emboss =         HSLA(key,50%,30%,1)
    $off =            HSLA(key,40%,20%,1)
    $on =             HSLA(key,50%,30%,1)

    $hide =           HSLA(key,44%,40%,1)
    $bg = $baloon =   HSLA(key,35%,15%,1)
    $bgHi =           HSLA(key,66%,10%,1)

    $pen =  HSLA(SPORT,5%,80%,1)

    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)

  if metal == $backT
    $edge =           HSLA(key,20%,50%,1)
    $focus =          HSLA(key,30%,10%,1)

    $emboss =         HSLA(key, 9%,20%,1)
    $off =            HSLA(key, 9%,12%,1)
    $on =             HSLA(key, 9%,20%,1)

    $hide =           HSLA(key, 6%,40%,1)
    $bg = $baloon =   HSLA(key, 9%,15%,1)
    $bgHi =           HSLA(key, 9%, 8%,1)

    $pen =  HSLA(SPORT,0%,80%,1)

    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)

  if night == $backT
    $edge =           HSLA(key,60%,50%,1)
    $focus =          HSLA(key,40%,20%,1)

    $emboss =         HSLA(key,50%,20%,1)
    $off =            HSLA(key,40%,15%,1)
    $on =             HSLA(key,50%,20%,1)

    $hide =           HSLA(key,44%,40%,1)
    $bg = $baloon =   HSLA(key,35%, 8%,1)
    $bgHi =           HSLA(key, 0%, 0%,1)

    $pen =  HSLA(key  ,66%,66%,1)

    $good = HSLA(ALIEN,75%,40%,1)
    $warn = HSLA(P01,  75%,40%,1)
    $ban  = HSLA(WOLF, 75%,40%,1)



  if grass == $backT
    $edge =           HSLA(key,60%,50%,1)
    $emboss =         HSLA(key,40%,35%,1)
    $off =            transparent
    $on =             HSLA(key,75%,70%,0.3)
    $focus =          HSLA(key,99%,50%,0.3)

    $hide =           HSLA(key,50%,10%,1)
    $bg = $baloon =   HSLA(key,70%,30%,0.5)
    $bgHi =           HSLA(key,99%,20%,0.5)

    $pen =  HSLA(key,  10%,80%,1)
    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)


  kbd
    background-color: #000

  for theme in $bgTheme
    .{theme}
      color:            $pen
      background-color: $bg
      border-color:     $edge

      &.baloon
        border-color: $baloon

      hr
        border-color: $emboss

      code
        background-color: $off

      blockquote
        border-color: $edge
      
      .name
        sup,
        sub
          background-color: $emboss
          color: $bgHi

      del,
      .name,
      .date
        color: $hide

      b,
      em
        color: $pen
        background-color: $bgHi

      h5,
      rt,
      abbr,
      strong
        background-color: $emboss
        color: $bgHi

      .fa-check
        color: $good
      .fa-warning
        color: $warn
      .fa-ban
        color: $ban

    input[type=checkbox],
    input[type=radio]
      body &.{theme},
      .{theme} &
        background-color: $off
        &:checked,
        &.active,
        .active
          background-color: $on
        &:hover,
        &:focus
          background-color: $focus
        sup,
        sub
          background-color: $emboss
          color: $bgHi

    a,
    input,
    button
      body &.{theme},
      .{theme} &
        background-color: $off
        &.active,
        .active
          background-color: $on
        &:hover,
        &:focus
          background-color: $focus
        sup,
        sub
          background-color: $emboss
          color: $bgHi

    textarea
      body &.{theme},
      .{theme} &
        color:            $pen
        background-color: $bg
        border-color:     $edge

    th
      body &.{theme},
      .{theme} &
        color: $pen
        background-color: $bgHi

    [title],
    [data-tooltip],
      body &.{theme}:before,
      .{theme} &:before,
      body &.{theme}:after,
      .{theme} &:after
        color: $pen
        background-color: $bgHi

    [href],
    [title],
    [data-tooltip]
      body &.{theme},
      .{theme} &
        color: $pen
        background-color: $off
        &:visited
          background-color: $off
        &:link
          background-color: $off
        &:hover,
        &:focus
          background-color: $focus
        &.nuxt-link-exact-active,
        &.active,
        .nuxt-link-exact-active,
        .active
          background-color: $on
        sup,
        sub
          background-color: $emboss
          color: $bgHi





