themes = {
  says: {
    SPORT:  '.SPORT'
    P09:    '.P09'
    ELSE:   '.ELSE'
    P07:    '.P07'
    ALIEN:  '.XSAY, .BSAY'
    P05:    '.P05'
    P04:    '.P04'
    BROAD:  '.SSAY, .MSAY'
    VBROAD: '.VSSAY, .VSAY'
    P01:    '.P01'
    WOLF:   '.WSAY'
    N01:    '.N01'
    N02:    '.N02'
    VLOVE:  '.AIM'
    LOVE:   '.SPSAY, .PSAY'
    N05:    '.N05'
    N06:    '.N06'
    VGRAVE: '.VGSAY'
    GRAVE:  '.GSAY'
    N09:    '.N09'

    BRASS:  '.TSAY'
  }
  stats: {
    SPORT:  '.HATER, .LONEWOLF'
    ELSE:   '.PIXI, .GURU'
    ALIEN:  '.EVIL'
    BROAD:  '.HUMAN, .DISH, .live, .juror'
    WOLF:   '.WOLF, .suicide, .victim, .cursed, .feared, .droop'
    LOVE:   '.LOVER'
    VBROAD: '.NONE, .MOB, .mob, .visiter, .grave, .alive'
    GRAVE: '.executed'

    BRASS: '.hide'
    GRAY:  '.suddendead, .leave'
  }
  blacks: {
    DARK:  '.TITLE, .dark, .links'
    WEAK:  '.btns, .chrblank, .footer, .header'
    E_VBROAD: '.public'
    E_VGRAVE: '.private'
  }
  pens: {
    SILVER: '.MAKER'
    GOLD:   '.ADMIN'
  }
}

REDZ = #330C09
REDD = #AA1111
REDC = #CC2222
REDB = #EE5555
REDA = #FF7777

colors = {
  SPORT:  spin(REDC, 10 * 18deg - 0deg)
  P09:    spin(REDC,  9 * 18deg - 0deg)
  ELSE:   spin(REDD,  8 * 18deg - 0deg)
  P07:    spin(REDD,  7 * 18deg - 0deg)
  ALIEN:  spin(REDD,  6 * 18deg - 0deg)
  P05:    spin(REDC,  5 * 18deg - 0deg)
  P04:    spin(REDC,  4 * 18deg - 0deg)
  BROAD:  spin(REDC,  3 * 18deg - 8deg)
  VBROAD: spin(REDC,  2 * 18deg - 0deg)
  P01:    spin(REDC,  1 * 18deg - 0deg)
  WOLF:   REDC
  N01:    spin(REDC, -1 * 18deg + 0deg)
  N02:    spin(REDC, -2 * 18deg + 5deg)
  VLOVE:  spin(REDC, -3 * 18deg + 0deg)
  LOVE:   spin(REDB, -4 * 18deg + 0deg)
  N05:    spin(REDA, -5 * 18deg + 0deg)
  N06:    spin(REDA, -6 * 18deg + 0deg)
  VGRAVE: spin(REDA, -7 * 18deg + 0deg)
  GRAVE:  spin(REDB, -8 * 18deg + 0deg)
  N09:    spin(REDB, -9 * 18deg + 0deg)


  E_SPORT:  spin(REDZ, 10 * 18deg - 0deg)
  E_P09:    spin(REDZ,  9 * 18deg - 0deg)
  E_ELSE:   spin(REDZ,  8 * 18deg - 0deg)
  E_P07:    spin(REDZ,  7 * 18deg - 0deg)
  E_ALIEN:  spin(REDZ,  6 * 18deg - 0deg)
  E_P05:    spin(REDZ,  5 * 18deg - 0deg)
  E_P04:    spin(REDZ,  4 * 18deg - 0deg)
  E_BROAD:  spin(REDZ,  3 * 18deg - 8deg)
  E_VBROAD: spin(REDZ,  2 * 18deg - 0deg)
  E_P01:    spin(REDZ,  1 * 18deg - 0deg)
  E_WOLF:   REDZ
  E_N01:    spin(REDZ, -1 * 18deg + 0deg)
  E_N02:    spin(REDZ, -2 * 18deg + 5deg)
  E_VLOVE:  spin(REDZ, -3 * 18deg + 0deg)
  E_LOVE:   spin(REDZ, -4 * 18deg + 0deg)
  E_N05:    spin(REDZ, -5 * 18deg + 0deg)
  E_N06:    spin(REDZ, -6 * 18deg + 0deg)
  E_VGRAVE: spin(REDZ, -7 * 18deg + 0deg)
  E_GRAVE:  spin(REDZ, -8 * 18deg + 0deg)
  E_N09:    spin(REDZ, -9 * 18deg + 0deg)


  DARK:   dark   = #000000
  BLACK:  black  = #222222
  WEAK:   weak   = #4d4e46
  BRASS:  brass  = #aa9955
  GRAY:   gray   = #999a8b
  SILVER: silver = #c0c0c0
  GOLD:   gold   = #ffd700
  LIGHT:  light  = #ffffff
}


palette($themes, $backT, $penT, $border)
  for key, $bgTheme in themes[$themes]
    $base = colors[key]
    $comp = spin($base, 180deg)

    if black == $backT
      $bg     = $base
      $high   = mix($base,  light, 88%)
      $pen    = $penT
      $emboss = mix($base,  light, 66%)
      $hide   = mix($base,  light, 66%)
      $button = mix($base,  light, 88%)
      $focus  = mix($base, silver, 66%)
      $active = mix($base, silver, 55%)
      $baloon = $base

    if glass == $backT || pens == $backT
      $bg     = mix($comp,  dark, 11%)
      $high   = mix($comp,  dark, 33%)
      $pen    = mix($base, $penT, 55%)
      $emboss = mix($base,  dark, 66%)
      $hide   = mix($base,  dark, 55%)
      $button = mix($comp,  dark, 66%)
      $focus  = mix($base,  dark, 77%)
      $active = mix($base,  dark, 88%)
      $border = $base

    if light == $backT || silver == $backT
      $bg     = mix($base, silver, 44%)
      $high   = mix($base,  light, 55%)
      $emboss = mix($base,   gray, 66%)
      $hide   = mix($base,  $penT, 33%)
      $button = mix($base,   gray, 77%)
      $focus  = mix($base,  black, 66%)
      $active = mix($base,  black, 55%)
      $baloon = mix($base, silver, 44%)

    if glass == $backT
      $baloon = mix($base,  dark, 66%)

    if pens == $backT
      $baloon = $bg

    if light == $backT
      $pen    = mix($base,  $penT, 33%)

    if silver == $backT
      $pen    = $penT

    $on  = mix($high, colors.ALIEN, 88%)
    $off = mix($high, colors.N06,   88%)

    {$bgTheme}
      &,
      textarea
        color:            $pen
        background-color: $bg
        border-color:     $emboss

      &.baloon
        border-color: $baloon

      .fa-check
        color: mix($pen, colors.ALIEN, 33%)
      .fa-warning
        color: mix($pen, colors.P01,   33%)
      .fa-ban
        color: mix($pen, colors.WOLF,  33%)

      [title],
      [data-tooltip]
        background-color: $high

      [title]:before,
      [title]:after,
      [data-tooltip]:before,
      [data-tooltip]:after
        color:            $pen
        background-color: $high

      b
        color: $pen
        background-color: $high

      body a:not([name])&,
      a:not([name])
        color: $pen
        &:visited
          background-color: $on
        &:link
          background-color: $off

      .active
        background-color: $active

      input,
      button,
      body a:not([name])&,
      a:not([name])
        background-color: $high
        &:hover,
        &:focus
          background-color: $focus
        &.nuxt-link-exact-active,
        &.active,
        .nuxt-link-exact-active,
        .active
          background-color: $active

      input[type=checkbox],
      input[type=radio]
        background-color: $off
        &:checked
          background-color: $on

      em,
      .name,
      .date
        color: $hide

      h5,
      strong,
      abbr,
      rt,
      sup,
      sub
        background-color: $emboss
        color: $high


