themes = {
  says: {
    SPORT:  '.SPORT'
    P09:    '.P09'
    ELSE:   '.ELSE'
    P07:    '.P07'
    ALIEN:  '.XSAY, .BSAY'
    P05:    '.P05'
    P04:    '.P04'
    BROAD:  '.SSAY, .MSAY'
    VBROAD: '.VSSAY, .VSAY'
    P01:    '.P01'
    WOLF:   '.WSAY'
    N01:    '.N01'
    N02:    '.N02'
    VLOVE:  '.AIM'
    LOVE:   '.SPSAY, .PSAY'
    N05:    '.N05'
    N06:    '.N06'
    VGRAVE: '.VGSAY'
    GRAVE:  '.GSAY'
    N09:    '.N09'

    SILVER:  '.TSAY'
  }
  world: {
    VBROAD: '.public'
    VGRAVE: '.private'
    SILVER: '.MAKER, .TITLE, .links, .btns'
    GOLD:   '.ADMIN'
  }
  pens: {
    SILVER:  '.chrblank, .footer, .header'
  }
  stats: {
    SPORT:  '.HATER, .LONEWOLF'
    ELSE:   '.PIXI, .GURU'
    ALIEN:  '.EVIL'
    BROAD:  '.HUMAN, .DISH, .live, .juror'
    WOLF:   '.WOLF, .suicide, .victim, .cursed, .feared, .droop'
    LOVE:   '.LOVER'
    VBROAD: '.NONE, .MOB, .mob, .visiter, .grave, .alive'
    GRAVE:  '.executed'

    GOLD:   '.hide'
    SILVER: '.suddendead, .leave'
  }
}


hues = {
  SPORT:  10 * 18deg
  P09:     9 * 18deg
  ELSE:    8 * 18deg
  P07:     7 * 18deg
  ALIEN:   6 * 18deg
  P05:     5 * 18deg
  P04:     4 * 18deg
  BROAD:   3 * 18deg - 8deg
  VBROAD:  2 * 18deg
  P01:     1 * 18deg
  WOLF:    0
  N01:    -1 * 18deg
  N02:    -2 * 18deg + 5deg
  VLOVE:  -3 * 18deg
  LOVE:   -4 * 18deg
  N05:    -5 * 18deg
  N06:    -6 * 18deg
  VGRAVE: -7 * 18deg
  GRAVE:  -8 * 18deg
  N09:    -9 * 18deg
  SILVER:  8 * 18deg
  GOLD:    3 * 18deg
}


saturates = {
  SPORT:  100%
  P09:     90%
  ELSE:    90%
  P07:     80%
  ALIEN:   90%
  P05:     90%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  P01:    100%
  WOLF:   100%
  N01:    100%
  N02:    100%
  VLOVE:  110%
  LOVE:   120%
  N05:    140%
  N06:    140%
  VGRAVE: 140%
  GRAVE:  120%
  N09:    110%
  SILVER:  10%
  GOLD:   100%
}

lights = {
  SPORT:  100%
  P09:     95%
  ELSE:    95%
  P07:     90%
  ALIEN:   95%
  P05:     95%
  P04:    100%
  BROAD:  100%
  VBROAD: 100%
  P01:    100%
  WOLF:   100%
  N01:    100%
  N02:    100%
  VLOVE:  105%
  LOVE:   110%
  N05:    120%
  N06:    120%
  VGRAVE: 120%
  GRAVE:  110%
  N09:    105%
  SILVER: 100%
  GOLD:   100%
}


HSLA(key,S,L,AA)
  HH = hues[key]
  SS = S * saturates[key] / 100
  LL = L * lights[key]    / 100
  hsla(HH,SS,LL,AA)


palette($themes, $backT)
  for key, $bgTheme in themes[$themes]
    palette_single($bgTheme, $backT, hues[key], key)


palette_single($bgTheme, $backT, $hue, key)
  if foot == $backT
    $edge = $baloon = HSLA(key,33%,66%,1)

    $hide = $emboss =     HSLA(key,75%,15%,1)
    $off = $active = spin(HSLA(key,75%,15%,1),-18deg)
    $on = $focus =   spin(HSLA(key,75%,15%,1),+18deg)

    $bg =   HSLA(key,44%,40%,1)
    $bgHi = HSLA(key,75%,15%,1)

    $pen =  HSLA(key,33%,66%,1)

    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban =  HSLA(WOLF, 33%,66%,1)

  if light == $backT
    $hide = HSLA(key,75%,15%,1)

    $emboss = $edge =     HSLA(key,44%,40%,1)
    $off = $active = spin(HSLA(key,44%,40%,1),-18deg)
    $on = $focus =   spin(HSLA(key,44%,40%,1),+18deg)

    $bgHi =         HSLA(key,66%,75%,1)
    $bg = $baloon = HSLA(key,33%,66%,1)

    $pen =  HSLA(key, 0%, 0%,1)

    $good = HSLA(ALIEN,66%,8%,1)
    $warn = HSLA(P01,  66%,8%,1)
    $ban =  HSLA(WOLF, 66%,8%,1)

  if night == $backT
    $edge = $baloon = HSLA(key,99%,47%,1)

    $hide = $emboss =     HSLA(key,44%,40%,1)
    $off = $active = spin(HSLA(key,44%,40%,1),-18deg)
    $on = $focus =   spin(HSLA(key,44%,40%,1),+18deg)

    $bg =   HSLA(key,66%, 8%,1)
    $bgHi = HSLA(key, 0%, 0%,1)

    $pen =  HSLA(key,66%,75%,1)

    $good = HSLA(ALIEN,99%,47%,1)
    $warn = HSLA(P01,  99%,47%,1)
    $ban  = HSLA(WOLF, 99%,47%,1)

  if black == $backT
    $edge = $baloon = HSLA(key,66%,75%,1)

    $hide = $emboss =     HSLA(key,44%,40%,1)
    $off = $active = spin(HSLA(key,44%,40%,1),-18deg)
    $on = $focus =   spin(HSLA(key,44%,40%,1),+18deg)

    $bg =   HSLA(key,75%,15%,1)
    $bgHi = HSLA(key,66%, 8%,1)

    $pen =  HSLA(SILVER,66%,75%,1)

    $good = HSLA(ALIEN,33%,66%,1)
    $warn = HSLA(P01,  33%,66%,1)
    $ban  = HSLA(WOLF, 33%,66%,1)

  {$bgTheme}
    &,
    textarea
      color:            $pen
      background-color: $bg
      border-color:     $edge

    &.baloon
      border-color: $baloon

    .fa-check
      color: $good
    .fa-warning
      color: $warn
    .fa-ban
      color: $ban

    [title],
    [data-tooltip]
      background-color: $bgHi

    [title]:before,
    [title]:after,
    [data-tooltip]:before,
    [data-tooltip]:after
      color:            $pen
      background-color: $bgHi

    .name,
    a:not([name])
      sup,
      sub
        background-color: $emboss
        color: $bgHi

    b
      color: $pen
      background-color: $bgHi

    body a:not([name])&,
    a:not([name])
      color: $pen
      &:visited
        background-color: $on
      &:link
        background-color: $off

    .active
      background-color: $active

    input,
    button,
    body a:not([name])&,
    a:not([name])
      background-color: $bgHi
      &:hover,
      &:focus
        background-color: $focus
      &.nuxt-link-exact-active,
      &.active,
      .nuxt-link-exact-active,
      .active
        background-color: $active

    input[type=checkbox],
    input[type=radio]
      background-color: $off
      &:checked
        background-color: $on

    .name,
    .date
      color: $hide
    
    del
      text-decoration: none
      color: $hide

    h5,
    rt,
    abbr,
    strong
      background-color: $emboss
      color: $bgHi


