
.contentframe
  .inframe
    background-repeat: repeat-y
    background-position: left
    background-attachment: local
    background-image: url("~assets/images/bg/film-L.png")

.filmline
  background-image: url("~assets/images/bg/film-border.png")
