
.contentframe
  .inframe
    background-repeat: repeat-y
    background-position: left
    background-attachment: local
    background-image: url("http://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/film-L.png")

.filmline
  background-image: url("http://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/film-border.png")

.filmend
  background-image: url("http://s3-ap-northeast-1.amazonaws.com/giji-assets/images/bg/film-end.png")
