side($size, $min)
  $edge = $min * 100 / $size
  @media screen and (min-width: $edge)
    width: $size
  @media screen and (max-width: $edge)
    width: $min

width($side)
  .writeframe,
  .outframe
  	.contentframe
      margin: 0 $side

  .summary
    side($side - 1%, 6em)
    &:hover
        side(100% - $side, 6em)


  .sideframe
    side($side - 1%,  80px)
