
width($font, $center)
  $limit1 = $center / 0.9
  $limit2 = $center + 2 * 80px
  $limit3 = $center + 2 * $font * 6
  $half   = ( $center + $font ) / 2

  .writeframe,
  .outframe
    width: 100%

  .summary:hover
    width: "calc( 50% + %s )" % $half

  @media screen and (min-width: $limit3)
    .summary
      width: "calc( 50% - %s )" % $half
  @media screen and (max-width: $limit3)
    .summary
      width: $font * 6

  @media screen and (min-width: $limit2)
    .sideframe
      width: "calc( 50% - %s )" % $half
  @media screen and (max-width: $limit2)
    .sideframe
      width: 80px

  @media screen and (min-width: $limit1)
    .writeframe,
    .outframe
      .contentframe
        width: $center
        margin: 0 auto

  @media screen and (max-width: $limit1)
    .writeframe,
    .outframe
      .contentframe
        margin: 0 5%
